{% extends "common/base.html" %}<!--继承基础模板-->
{#{% block title %}test{% endblock %}#}
{% block content %}<!--自定义模板区域-->
    {#    E:\Python_Project\reactome_visual\app\templates\home.html#}
    {#    E:\Python_Project\reactome_visual\app\templates\common\base.html#}
    <div class="col-sm-12 m-auto">
        <div class="mt-4 p-5 bg-light rounded">
            <h1>Customize Reaction</h1>
            <p>This module allows the user to select input and output nodes from the database and customise a reaction,
                or to add a new node to an already existing reaction, then make a prediction</p>
        </div>
        <div class="row mt-4">
            <div class="col-xs-12 col-lg-12 border-2 border-primary bg-light mt-4">
                <div class="mt-4">
                    <h4 style="color: green">Dataset</h4>
                    <label for="dataset_select">
                    </label>
                    <select id="dataset_select" class="selectpicker form-control-color" data-live-search="true"
                            style="width: 500px">
                    </select>
                </div>
                <div class="mt-4" id="reaction_area">
                    <h4 style="color: goldenrod">Reaction</h4>
                    <label for="reaction_select">
                    </label>
                    <select id="reaction_select" class="selectpicker" data-live-search="true"
                            title="Choose one of the edges">
                        {#                        <option >Hot Dog, Fries and a Soda</option>#}
                        {#                        <option >Burger, Shake and a Smile</option>#}
                        {#                        <option >Sugar, Spice and all things nice</option>#}
                    </select>
                    <button id="load-reaction" type="button" class="btn btn-outline-danger">Load</button>
                    <button id="new-reaction" type="button" class="btn btn-outline-danger">New Reaction</button>
                    {#                    <button id="clear-reaction" type="button" class="btn btn-outline-danger">Test Clear</button>#}
                </div>
                <div class="mt-4" id="node_area">
                    <h4 class="text-primary">Node</h4>
                    <label for="node_select">
                    </label>
                    <select id="node_select" class="selectpicker" data-live-search="true"
                            title="Choose one of the nodes">
                        {#                        <option>Hot Dog, Fries and a Soda</option>#}
                        {#                        <option>Burger, Shake and a Smile</option>#}
                        {#                        <option>Sugar, Spice and all things nice</option>#}
                    </select>
                    <button id="insert-node-as-input" type="button" class="btn btn-outline-primary">Insert As Input
                    </button>
                    <button id="insert-node-as-output" type="button" class="btn btn-outline-primary">Insert As Output
                    </button>
                </div>

                <div class="d-flex justify-content-end">
                    <button id="mask" class="btn btn-light" style="color: saddlebrown">Mask
                    </button>
                    <button id="delete" class="btn btn-light" style="color: red">Delete
                    </button>
                </div>


                <div id="mountNode" style="position: relative"></div>
                <!-- {#                    <div id="mountNode2"></div>#}


                {#                    <a class="btn float-end"#}
                {#                       href="{{ url_for('web.show_single_reaction',toplevel_pathway_name_url_format=current_toplevel_pathway.name_url_format,edge_index=edge.index) }}"#}
                {#                       role="button">Predict &raquo;</a>#}

                {#                    <button id="predict{{ loop.index0 }}" type="button" class="btn btn-light float-end">Predict#}
                {#                        &raquo;#}
                {#                    </button>#} -->

                <button id="predict" type="button" class="btn btn-light float-end">Predict
                    &raquo;
                </button>

                <select id="model" class="form-select btn float-end"
                        aria-label="Default select example"
                        style="width: 120px">
                    -
                    <option selected value="gcn">GCN</option>
                    <option value="hgnn">HGNN</option>
                    <option value="hgnnp">HGNN+</option>
                    <option value="mf">MF</option>
                </select>

                <select id="direction" class="form-select btn float-end"
                        aria-label="Default select example" style="width: 250px">
                    <option selected value="input">Input Nodes Prediction</option>
                    <option value="output">Output Nodes Prediction</option>
                </select>
            </div><!--/.col-xs-6.col-lg-4-->

            <div id="prediction_table" class="container mt-3">
            </div>

            <div id="explainer_table" class="container mt-3">
                {#                <table class="table table-bordered tree">#}
                {#                    <thead id="table-headers">#}
                {#                    <!-- Dynamic generation of table headers -->#}
                {#                    </thead>#}
                {#                    <tbody id="tree-body">#}
                {#                    <!-- Dynamic generation of form content -->#}
                {#                    </tbody>#}
                {#                </table>#}
            </div>


        </div><!--/.col-xs-6.col-lg-4-->
    </div><!--/.col-xs-12.col-sm-9-->
    {#    {% include "common/page_navigation.html" %}#}
    <script>
        /**
         $("#dataset-select").on('shown.bs.select', function (e) {
            {#var a = $(this).prev().find("input")#}
            {#window.alert($(this).prev().find("input"))#}
            $(this).prev().find("input").attr('placeholder', "Please select an dataset");
            $(this).prev().find("input").keyup(function () {
            });
        });
         **/

        // {#$(document).on('click', '#load-reaction', function () {#}


        $(document).ready(function () {

            var graph
            var nodes
            var edges

            // {##dataset_select#}

            load_dataset_selections();

            load_reaction_selections();
            load_node_selections();

            /**
             $('#dataset_select').on('loaded.bs.select', function (e) {

            });
             **/


            $('#dataset_select').on('changed.bs.select', function (e) {
                var selected_dataset = $('#dataset_select').val()
                window.location.href =
                    "{{url_for('web.customize_reaction')}}?dataset=" + selected_dataset
            });

            // load_reaction_selections();
            // load_node_selections();

            /**
             $('#reaction_select').on('show.bs.select', function (e) {

            });
             **/

            /**
             $('#reaction_select').on('hide.bs.select', function (e) {
                {#var obj = $('#reaction_select');#}
                {#obj.empty()#}
            });
             **/
            /**
             $('#node_select').on('show.bs.select', function (e) {

            });
             **/

            // function load_reaction_selections() {
            //     var selected_dataset = $('#dataset_select').val()
            //     var obj = $('#reaction_select');
            //     $('#reaction_select').find("options:not(:first)").remove();
            //     $('#reaction_select').selectpicker('refresh');
            //     {#现在还无法删除之前的options#}
            //     {#$('#reaction_select').empty()#}
            //     {#obj.html('');#}
            //     {#obj.empty();#}
            //     {#obj.selectpicker('refresh');#}
            //     {#$('#reaction_select').selectpicker('val', ['noneSelectedText']);#}
            //     {#obj.selectpicker('refresh');#}
            //     $.ajax({
            //         url: '{{ url_for('web.get_all_reactions_of_toplevel_pathway') }}',
            //         type: 'POST',
            //         data: {
            //             'toplevel_pathway': selected_dataset,
            //         },
            //         dataType: "json",
            //         success: function (data) {
            //             {#window.alert(data)#}
            //             {#const edge_list = JSON.parse(data)#}
            //             {#obj.find("option:selected").text("");#}
            //             {#obj.empty();#}
            //             {#obj.find("option").remove()#}
            //             {#obj.empty()#}
            //             {#obj.selectpicker('refresh')#}
            //             var html = ''
            //             for (let i in data) {
            //                 const edge = data[i]
            //                 html = ''
            //                 html = '<option value="' + edge.index + '">' + edge.name + " (" + edge.stId + ")" + '</option>';
            //                 obj.append(html)
            //             }
            //             {#obj.html(html)#}
            //             obj.selectpicker('refresh');

            //         }
            //     });
            // }

            function load_reaction_selections() {
                var selected_dataset = $('#dataset_select').val();
                var obj = $('#reaction_select');
                $('#reaction_select').find("option:not(:first)").remove();  // Corrected the selector
                $.ajax({
                    url: '{{ url_for('web.get_all_reactions_of_toplevel_pathway') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                    },
                    dataType: "json",
                    success: function (data) {
                        var html = '';
                        for (let i in data) {
                            const edge = data[i];
                            html += '<option value="' + edge.index + '">' + edge.name + " (" + edge.stId + ")" + '</option>';
                        }
                        obj.append(html);
                        obj.selectpicker('refresh');  // Ensure this is called after all options are added
                    }
                });
            }




            /**
             $("#clear-reaction").click(function () {
                $('#reaction_select').empty();
                {#$('#reaction_select').selectpicker('refresh');#}
                {#$('.selectpicker').selectpicker('render');#}
                $('.selectpicker').selectpicker('destroy');
                $('.selectpicker').selectpicker('render');
            });
             **/

            function load_dataset_selections() {
                $(dataset_select).append('<option value="disease">Disease</option>');
                $(dataset_select).append('<option value="immune_system">Immune System</option>');
                $(dataset_select).append('<option value="metabolism">Metabolism</option>');
                $(dataset_select).append('<option value="signal_transduction">Signal Transduction</option>');
                var test_obj = $(dataset_select).find("option[value='{{ dataset }}']")
                test_obj.attr("selected", true)
                $(dataset_select).selectpicker('refresh');
            }

            function load_node_selections() {
                var selected_dataset = $("#dataset_select").val()

                var obj = $('#node_select');
                // 现在还无法删除之前的options
                obj.html('');
                obj.empty();
                {#obj.options.selectedIndex = 0; //回到初始状态#}
                obj.selectpicker('refresh');//对searchPayState这个下拉框进行重置刷新
                // $('#reaction_select').selectpicker('val', ['noneSelectedText']);
                // obj.selectpicker('refresh');
                $.ajax({
                    url: '{{ url_for('web.get_all_nodes_of_toplevel_pathway') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                    },
                    dataType: "json",
                    success: function (data) {
                        // window.alert(data);
                        // const edge_list = JSON.parse(data);
                        // obj.find("option:selected").text("");
                        // obj.empty();
                        // obj.find("option").remove()
                        var html = ''
                        for (let i in data) {
                            const node = data[i]
                            html += '<option value="' + node.index + '">' + node.name + " (" + node.stId + ")" + '</option>';
                        }
                        // const node = data[0]
                        // html += '<option value="' + node.index + '">' + node.name + " (" + node.stId + ")" + '</option>';
                        obj.html(html)
                        obj.selectpicker('refresh')

                    }
                });
            }


            $("#insert-node-as-input").click(function () {
                const selected_node_index = $("#node_select").val()[0]
                const selected_dataset = $("#dataset_select").val()
                $.ajax({
                    url: '{{ url_for('web.get_node_of_toplevel_pathway_based_on_index') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                        'selected_node_index': selected_node_index,
                        'direction': 'input'
                    },
                    dataType: "json",
                    success: function (data) {
                        insert_node_to_graph(data)
                    }
                });
            });

            $("#insert-node-as-output").click(function () {
                const selected_dataset = $("#dataset_select").val()
                const selected_node_index = $("#node_select").val()[0]
                $.ajax({
                    url: '{{ url_for('web.get_node_of_toplevel_pathway_based_on_index') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                        'selected_node_index': selected_node_index,
                        'direction': 'output'
                    },
                    dataType: "json",
                    success: function (data) {
                        insert_node_to_graph(data)
                    }
                });
            });

            function insert_node_to_graph(added_node) {
                // 创建 G6 图实例
                initialize_node_style(added_node)

                let count = 0
                nodes.forEach((node) => {
                    if (added_node.id === node.id || added_node.name === node.name) {
                        count = count + 1
                    }
                });
                if (count !== 0) {
                    added_node.id = added_node.id + '(' + count.toString() + ')'
                }

                nodes.push(added_node)

                var added_edge = {}

                if (!added_edge.style) {
                    added_edge.style = {};
                }
                added_edge.style.fill = '#000'
                added_edge.style.stroke = '#000';

                nodes.forEach((node) => {
                    if (node.node_type === "reaction") {
                        if (added_node.node_type === "input_node") {
                            added_edge.source = added_node.id
                            added_edge.target = node.id
                        }

                        if (added_node.node_type === "output_node") {
                            added_edge.source = node.id
                            added_edge.target = added_node.id
                        }
                    }
                });
                edges.push(added_edge)

                graph.addItem('node', added_node)
                graph.addItem('edge', added_edge)

                // graph.refresh()
                graph.render()

            }

            var initialize_node_style = function f(node) {
                node.label = node.name
                node.label = fittingString(node.label, 32, 12);
                if (!node.style) {
                    node.style = {};
                }
                node.style.lineWidth = 1;
                node.style.stroke = '#666';
                node.style.fill = 'steelblue';
                switch (node.node_type) {
                    case "reaction": {
                        node.x = 400
                        node.y = 100
                        node.type = 'triangle';
                        node.style.fill = 'yellow'
                        node.size = 10
                        break;
                    }
                    case "input_node": {
                        node.type = 'circle';
                        node.style.fill = '#0d6efd'
                        // node.size = [35, 20];
                        node.size = 20;
                        break;
                    }
                    case "output_node": {
                        node.type = 'circle';
                        node.style.fill = 'red'
                        // node.size = [35, 20];
                        node.size = 20;
                        break;
                    }
                }
            }


            $("#new-reaction").click(function () {
                cleanPredictionAndExplainer()
                const selected_dataset = $("#dataset_select").val()
                if (graph != null) {
                    graph.destroy()
                }

                $.ajax({
                    url: '{{ url_for('web.generate_new_reaction_of_toplevel_pathway') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                    },
                    dataType: "json",
                    success: function (data) {
                        // data = JSON.parse(data);

                        // 创建 G6 图实例
                        nodes = data.nodes
                        edges = data.edges

                        nodes_data_initialization(nodes);

                        edges_data_initialization(edges);

                        graph = g6_graph_generate();

                        // 读取数据
                        graph.data(data);
                        // 渲染图
                        graph.render();

                        set_graph_event(graph);

                    }
                });


            });

            $("#load-reaction").click(function () {
                cleanPredictionAndExplainer()
                const selected_reaction_index = $("#reaction_select").val()
                const selected_dataset = $("#dataset_select").val()
                if (graph != null) {
                    graph.destroy()
                }
                // 打印 selected_reaction_index 的值
                console.log("Selected reaction index:", selected_reaction_index);

                $.ajax({
                    url: '{{ url_for('web.get_reaction_of_toplevel_pathway_based_on_index') }}',
                    type: 'POST',
                    data: {
                        'toplevel_pathway': selected_dataset,
                        'selected_reaction_index': selected_reaction_index
                    },
                    dataType: "json",
                    success: function (data) {
                        // data = JSON.parse(data);

                        // 创建 G6 图实例
                        nodes = data.nodes
                        edges = data.edges

                        nodes_data_initialization(nodes);

                        edges_data_initialization(edges);

                        graph = g6_graph_generate();

                        // 读取数据
                        graph.data(data);
                        // 渲染图
                        graph.render();

                        set_graph_event(graph);

                    }
                });

            });

            function nodes_data_initialization(nodes) {
                nodes.forEach((node) => {
                    // window.alert(JSON.stringify(node))
                    node.label = node.name
                    node.label = fittingString(node.label, 32, 12);
                    if (!node.style) {
                        node.style = {};
                    }
                    node.style.lineWidth = 1;
                    node.style.stroke = '#666';
                    node.style.fill = 'steelblue';
                    switch (node.node_type) {
                        case "reaction": {
                            node.x = 400
                            node.y = 100
                            node.type = 'triangle';
                            node.style.fill = 'yellow'
                            node.size = 10
                            break;
                        }
                        case "input_node": {
                            node.type = 'circle';
                            node.style.fill = '#0d6efd'
                            // node.size = [35, 20];
                            node.size = 20;
                            break;
                        }
                        case "output_node": {
                            node.type = 'circle';
                            node.style.fill = 'red'
                            // node.size = [35, 20];
                            node.size = 20;
                            break;
                        }
                    }
                });
            }

            function edges_data_initialization(edges) {
                edges.forEach((edge) => {
                    // window.alert(JSON.stringify(edge))
                    if (!edge.style) {
                        edge.style = {};
                    }
                    // edge.style.lineWidth = edge.weight;
                    // edge.style.opacity = 0.9;
                    edge.style.fill = '#000'
                    edge.style.stroke = '#000';
                });
            }


            function g6_graph_generate() {
                graph = new G6.Graph({
                    container: 'mountNode', // 指定图画布的容器 id，与第 9 行的容器对应
                    // 画布宽高
                    width: 800,
                    height: 300,
                    fitView: true,
                    fitViewPadding: [20, 40, 50, 20],
                    modes: {
                        default: ['drag-node', 'drag-canvas', 'zoom-canvas',

                            //{
                            //    // 定义展开/收缩行为
                            //    type: 'collapse-expand',
                            //},
                            {
                                offset: 0,
                                type: 'tooltip',
                                formatText: function formatText(model) {
                                    const text = 'stId: ' + model.id
                                        + '<br/> name: ' + model.name
                                        + '<br/> index: ' + model.index;
                                    return text;
                                },

                                shouldUpdate: function shouldUpdate(e) {
                                    return true;
                                }
                            },
                        ],
                    },

                    layout: {
                        type: 'dagre',
                        rankdir: 'TB', // 可选，默认为图的中心
                        // align: 'DL', // 可选
                        // nodesep: 20, // 可选
                        ranksep: 20, // 可选
                        controlPoints: true, // 可选
                    },

                    // 节点不同状态下的样式集合
                    nodeStateStyles: {
                        // 鼠标 hover 上节点，即 hover 状态为 true 时的样式
                        hover: {
                            fill: 'white',
                        },
                        click: {
                            fill: 'gold',
                            stroke: 'gold'
                        }
                    },

                    defaultNode: {
                        size: 30,
                        labelCfg: {
                            style: {
                                fill: 'black',
                                fontSize: 14
                            },
                        },
                    },
                    defaultEdge: {
                        labelCfg: {
                            autoRotate: true,
                        },
                    },

                });
                return graph
            }

            function set_graph_event(graph) {
                graph.on('node:mouseenter', e => {
                    const nodeItem = e.item;
                    graph.setItemState(nodeItem, 'hover', true);
                });
                graph.on('node:mouseleave', e => {
                    const nodeItem = e.item;
                    graph.setItemState(nodeItem, 'hover', false);
                });
                graph.on('node:click', e => {
                    const clickNodes = graph.findAllByState('node', 'click');
                    clickNodes.forEach(cn => {
                        graph.setItemState(cn, 'click', false);
                    });
                    const nodeItem = e.item;
                    graph.setItemState(nodeItem, 'click', true);
                });
                graph.on('edge:click', e => {
                    const clickEdges = graph.findAllByState('edge', 'click');
                    clickEdges.forEach(ce => {
                        graph.setItemState(ce, 'click', false);
                    });
                    const edgeItem = e.item;
                    graph.setItemState(edgeItem, 'click', true);
                });

                // 监听鼠标点击空白处
                graph.on('canvas:click', (e) => {
                    const shape = e.target;
                    const item = e.item;
                    if (item) {
                        const type = item.getType();
                    }
                    const clickNodes = graph.findAllByState('node', 'click');
                    clickNodes.forEach((cn) => {
                        graph.setItemState(cn, 'click', false);
                    });
                });
            }

            $("#mask").click(function () {
                const clickNodes = graph.findAllByState('node', 'click');
                clickNodes.forEach(cn => {

                    if (cn._cfg.model.node_type === 'input_node' || cn._cfg.model.node_type === 'output_node') {

                        const cn_id = cn._cfg.model.id

                        nodes.forEach((node) => {
                            if (node.id === cn_id && node.node_type !== "reaction") {
                                node.is_masked = !node.is_masked
                            }
                        });

                        // node.node_type !== "reaction"
                        if (cn._cfg.model.is_maksed === true) {
                            cn._cfg.model.is_maksed = false
                            if (cn._cfg.model.node_type === 'input_node') {
                                graph.updateItem(cn, {
                                    // 节点的样式
                                    style: {
                                        // stroke: 'grey',
                                        fill: '#0d6efd'
                                    },
                                });
                            }
                            if (cn._cfg.model.node_type === 'output_node') {
                                graph.updateItem(cn, {
                                    // 节点的样式
                                    style: {
                                        // stroke: 'grey',
                                        fill: 'red'
                                    },
                                });
                            }
                        } else {
                            // graph.setItemState(cn, 'is_masked', true);
                            cn._cfg.model.is_maksed = true
                            graph.updateItem(cn, {
                                // 节点的样式
                                style: {
                                    // stroke: 'grey',
                                    fill: 'grey'
                                },
                            });
                        }
                        graph.setItemState(cn, 'click', false);
                        // graph.setItemState(cn, 'click', false);
                    }
                });

            });

            $("#delete").click(function () {
                const clickNodes = graph.findAllByState('node', 'click');
                clickNodes.forEach(cn => {

                    const cn_id = cn._cfg.id

                    nodes.forEach((node) => {
                        if (node.id === cn_id && node.node_type !== "reaction") {
                            node.is_deleted = true
                        }
                    });

                    // graph.setItemState(cn, 'is_deleted', true);
                    graph.removeItem(cn);
                    // graph.setItemState(cn, 'click', false);
                    // graph.setItemState(cn, 'click', false);
                });

            });

            $("#refresh").click(function () {

            });

            $("#predict").click(function () {
                var direction = $("#direction").val();
                var model = $("#model").val();
                var toplevel_pathway = $("#dataset_select").val()


                // useless
                var edge_index = 0;

                var valid_nodes = []


                nodes.forEach((node) => {
                    if (node.is_masked === false && node.is_deleted === false && node.node_type !== "reaction") {
                        valid_nodes.push(node)
                    }
                });

                $.ajax({
                    url: '{{ url_for('algorithm.predict') }}',
                    type: 'POST',
                    data: {
                        'direction': direction,
                        'model': model,
                        'toplevel_pathway': toplevel_pathway,
                        'edge_index': edge_index,
                        'valid_nodes': JSON.stringify(valid_nodes)
                    },
                    dataType: "json",
                    success: function (data) {
                        // window.alert(data)
                        var node_list = JSON.parse(data)
                        $("#prediction_table").html('');
                        var direction = $("#direction").val();
                        var model = $("#model").val();
                        var h1_data = ''
                        if ('input' === direction) {
                            h1_data += '<h2>Input Nodes Prediction'
                        } else if ('output' === direction) {
                            h1_data += '<h2>Output Nodes Prediction'
                        }
                        var model_name = ''
                        if ('gcn' === model) {
                            model_name += '(GCN)'
                        } else if ('hgnn' === model) {
                            model_name += '(HGNN)'
                        } else if ('hgnnp' === model) {
                            model_name += '(HGNN+)'
                        }

                        h1_data += model_name

                        h1_data += '</h2>'

                        $("#prediction_table").append(h1_data)
                        var table_data = ''
                        table_data += '<table class="table table-hover">'
                        var table_head_data = ''
                        table_head_data += '<thead><tr><th>Ranking</th><th>Node Name</th><th>Node StID</th></tr></thead>'

                        table_data += table_head_data

                        var table_body_data = ''
                        table_body_data += '<tbody>'


                        for (let i = 0; i < node_list.length; i++) {
                            var node = node_list[i]
                            var row_data = ''
                            row_data += '<tr>'
                            var node_name = node.name
                            var node_stId = node.stId

                            row_data += '<td>'
                            row_data += (i + 1)
                            row_data += '</td>'

                            row_data += '<td data-bs-toggle="tooltip" title="Click For Explainer">'
                            row_data += node_name
                            row_data += '</td>'

                            row_data += '<td>'
                            row_data += node_stId
                            row_data += '</td>'

                            row_data += '</tr>'
                            table_body_data += row_data
                        }


                        table_body_data += '</tbody>'
                        table_data += table_body_data
                        table_data += '</table>'
                        $('#prediction_table').append(table_data)

                        $('#prediction_table td').tooltip();


                        $(function () {
                            $('#prediction_table td').hover(
                                function () {
                                    $(this).css('cursor', 'pointer');
                                }
                            );
                        });


                        /**
                         $("#prediction_table tr:not(:first-child)").click(function () {
                            var rowIndex = $(this).index();
                            $("#explainer_table").text("您单击的是第" + rowIndex + "行。");
                        });
                         **/

                        $("#prediction_table tr").click(function () {
                            var rowIndex = $(this).index();
                            var nodeName = $(this).find("td:nth-child(2)").text(); // 获取第二列的Node Name
                            // $("#explainer_table").text("您单击的是第" + rowIndex + "行。");

                            $.ajax({
                                url: '{{ url_for('algorithm.explain') }}',
                                type: 'POST',
                                data: {
                                    'rank': rowIndex,
                                    // 'model': model,
                                    'toplevel_pathway': toplevel_pathway,
                                    // 'edge_index': edge_index,
                                    // 'valid_nodes': JSON.stringify(valid_nodes)
                                    'pred_node_name': nodeName,
                                },
                                dataType: "json",
                                success: function (data) {
                                    data = JSON.parse(data)
                                    var explain_res = data.explain_res
                                    var rank = data.rank
                                    var node_element_list = data.node_element_list
                                    var sorted_nodes_and_attributes = data.sorted_nodes_and_attributes
                                    sorted_nodes_and_attributes.sort((a, b) => a.weight - b.weight);


                                    $("#explainer_table").html('');

                                    var h2_explainer_title = '<h2>' + "Explainer for Ranking " + rank + " of Predictions" + '</h2>'

                                    $("#explainer_table").append(h2_explainer_title)

                                    buildTreeTable(node_element_list);

                                    // const chart = generateExplainerBar(sorted_nodes_and_attributes)

                                    // mouse_on_explainer_line(node_element_list, chart);

                                    // mouse_leave_explainer_line(chart);


                                }
                            });


                        });

                    }
                });

            });

        });

        // 根据后端数据构建树结构表格
        async function buildTreeTable(rawData) {
            createTable();
            addTableHeaders();
            const tableRows = generateTableRows(rawData);
            const tbody = $('#explainer-tree-body');
            tbody.empty();
            tbody.append(tableRows);
            $(".tree").treegrid();
        }

        function createTable() {
            const table = $('<table class="table table-hover tree" id="tree-table">');
            const thead = $('<thead id="explainer-table-headers">');
            const tbody = $('<tbody id="explainer-tree-body">');

            table.append(thead);
            table.append(tbody);
            $('#explainer_table').append(table);
        }

        // 递归生成表格行
        function generateTableRows(data, parent = null) {
            let rows = "";
            data.forEach((item, index) => {
                const rowId = parent ? `${parent}-${index}` : `row-${index}`;
                const weight = (parseFloat(item.weight) * 100).toFixed(4) + "%"
                // rows += `<tr class="treegrid-${rowId}${parent ? ` treegrid-parent-${parent}` : ""}"><td>${item.element.name}(${item.type})</td><td>${item.element.stId}</td><td>${weight}</td><td>${item.ranking}</td></tr>`;
                rows += `<tr class="treegrid-${rowId}${parent ? ` treegrid-parent-${parent}` : ""}"><td>${item.element.name}(${item.type})</td><td>${item.element.stId}</td><td>${item.ranking}</td></tr>`;

                if (item.children && item.children.length > 0) {
                    rows += generateTableRows(item.children, rowId);
                }
            });

            return rows;
        }

        //Dynamic generation of table headers
        function addTableHeaders() {
            // const headers = ['Name', 'StID', 'Weight', 'Ranking'];
            const headers = ['Name', 'StID', 'Ranking'];
            const headerRow = $('<tr>');
            for (const header of headers) {
                headerRow.append(`<th>${header}</th>`);
            }
            $('#explainer-table-headers').append(headerRow);
        }


        function generateExplainerBar(data) {
            const chartContainer = $('<div id="explainer-bar-chart" style="width: 100%; height: 400px;"></div>');
            $('#explainer_table').append(chartContainer)
            const chart = echarts.init(document.getElementById('explainer-bar-chart'));
            const option = {
                xAxis: {
                    type: 'value',
                },
                yAxis: {
                    type: 'category',
                    data: data.map(item => item.element.name) // 设置Y轴类别数据
                },
                series: [{
                    // {#data: data.map(item => (parseFloat(item.weight) * 100).toFixed(4) + "%"), // 设置Y轴数值数据#}
                    data: data.map(item => item.weight), // 设置Y轴数值数据
                    type: 'bar'
                }]
            };
            chart.setOption(option); // 设置图表选项

            return chart
        }

        /**
        function mouse_on_explainer_line(data, chart) {
            $('#tree-table tbody tr').on('mouseenter', function () {
                const index = $(this).data('index');
                const newData = data.map((item, i) => ({
                    value: item.weight,
                    itemStyle: i === index ? {color: '#f00'} : {}
                }));
                chart.setOption({
                    series: [{
                        data: newData
                    }]
                });
            });
        }
         **/

        /**
        function mouse_leave_explainer_line(chart) {
            // 鼠标离开时恢复柱状图颜色
            $('#tree-table tbody tr').on('mouseleave', function () {
                chart.setOption({
                    series: [{
                        data: data.map(item => item.weight)
                    }]
                });
            });

        }
         **/

        function cleanPredictionAndExplainer() {
            const prediction_area = $('#prediction_table')
            const explainer_table_area = $('#explainer_table')

            prediction_area.empty()
            explainer_table_area.empty()
        }


        /**
         * Calculating the length of a string
         * @param {string} str The specified string
         */
        var calcStrLen = function calcStrLen(str) {
            var len = 0;
            for (var i = 0; i < str.length; i++) {
                if (str.charCodeAt(i) > 0 && str.charCodeAt(i) < 128) {
                    len++;
                } else {
                    len += 2;
                }
            }
            return len;
        };

        /**
         * Calculate the displayed string
         * @param {string} str String to be cropped
         * @param {number} maxWidth Maximum width
         * @param {number} fontSize Font size
         */
        var fittingString = function fittingString(str, maxWidth, fontSize) {
            var fontWidth = fontSize * 1.3; //字号+边距
            maxWidth = maxWidth * 2; // 需要根据自己项目调整
            var width = calcStrLen(str) * fontWidth;
            var ellipsis = '…';
            if (width > maxWidth) {
                var actualLen = Math.floor((maxWidth - 10) / fontWidth);
                var result = str.substring(0, actualLen) + ellipsis;
                return result;
            }
            return str;
        };

    </script>
{% endblock %}