<div id="prediction_table{{ loop.index0 }}" class="container mt-3">
                    <h1>有悬停效果的行</h1>
{#                    <p>.table-hover 类在表格行上启用悬停状态（鼠标悬停时的灰色背景）：</p>#}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Ranking</th>
                            <th>Node Name</th>
                            <th>Node StID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bill</td>
                            <td>Gates</td>
                            <td>bill@example.com</td>
                        </tr>
                        <tr>
                            <td>Steve</td>
                            <td>Jobs</td>
                            <td>steve@example.com</td>
                        </tr>
                        <tr>
                            <td>Elon</td>
                            <td>Musk</td>
                            <td>elon@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>